@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 /* overflow-x: hidden; */

 /* color: white; */
}
.container-1{
  background:linear-gradient(to left, #281f1fc1, #00000046), url(/Images/top-view-round-plates-assortment-with-copy-space.jpg);
 background-size: cover;
 height: 100vh;
}
.navbar{
 display: flex;
 justify-content: space-between;
 padding: 20px 70px;
 color: #fff;
}
nav ul{
 display: flex;
}
 li{
 list-style: none;
 padding: 10px;
}
nav ul a{
 text-decoration: none;
 padding: 10px;
 color: white;
 font-size: 18px;
}
.navbar button{
 background-color: transparent;
 color: #fff;
 border:1px solid #fff ;
 padding: 6px;
 border-radius: 5px;
 font-size: 17px;
}
header{
 position: relative;
 padding: 20px 70px;
 margin: 40px 0;
 color: #fff;
}

header h1{
  font-family: "Poppins", sans-serif;
   font-weight: 200;
   font-style: normal;
   font-size: 70px;
}
header h2{
 font-size: 60px;
 }
 header p{
 font-family: sans-serif;
 margin: 20px 0 50px 0;
 font-size: 25px;
 width: 40%;
}
header button{
 padding: 15px;
 /* background: linear-gradient(to left,#c53e3e66,#980606,#096b9866); */
 border: none;
 font-size: 17px;
 border-radius: 7px;
}
.side-icons{
 display: flex;
 flex-direction: column;
 position: absolute;
 right: 20px;
 top: 20%;
 }
.side-icons a{
color: #fff;
font-size: 30px;
padding: 10px;
}